{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>We are the fastest food delivery service in London</p>
            <p>If you're currently a Formula 1 racing car driver and looking for an exciting career change - contact us now! </p>
            <p>Drivers required in Peckham</p>
        </div>
    </div>
</div>
{% endblock content %}